<div class="mainContainer"
*ngFor="let item of puzzleObject"> 
    <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event, item.row)">
    <div class="example-box" 
      *ngFor="let item of item.row"
      cdkDrag
      class="example-box"
      [ngStyle]="{'background': item}"></div>
  </div>
</div>

<button
class=""
mat-stroked-button
(click)="shuffleElements()">SHUFFLE</button>

<button
class=""
mat-stroked-button
(click)="addRow()">Add Row</button>
<button
class=""
mat-stroked-button
(click)="addColumn()">Add Column</button>