<div class="mainContainer"> 
    <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event, row1)">
    <div class="example-box" 
      *ngFor="let item of row1"
      cdkDrag
      class="example-box"
      [ngClass]="item"></div>
  </div>

  <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event, row2)">
    <div class="example-box" 
      *ngFor="let item of row2" 
      cdkDrag
      class="example-box"
      [ngClass]="item"></div>
  </div>

  <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event, row3)">
    <div  
      *ngFor="let item of row3"
      cdkDrag
      class="example-box"
      [ngClass]="item"></div>
  </div>

  <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event, row4)">
    <div  
      *ngFor="let item of row4"
      cdkDrag
      class="example-box"
      [ngClass]="item"></div>
  </div>

  <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event, row5)">
    <div  
      *ngFor="let item of row5"
      cdkDrag
      class="example-box"
      [ngClass]="item"></div>
  </div>

  <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event, row6)">
    <div  
      *ngFor="let item of row6"
      cdkDrag
      class="example-box"
      [ngClass]="item"></div>
  </div>
</div>

<button
class="shuffleButton"
mat-stroked-button
(click)="shuffleElements()">SHUFFLE</button>